.about-us-page {
  font-family: Arial, sans-serif;
}

.background-image {
  position: relative; /* Add this to ensure child elements are positioned relative to this */
  background-image: url('../../public/service.jpg');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  color: white;
  padding-top: 200px;
}

.head-text {
  position: absolute; /* Position the text absolutely within the parent */
  transform: translate(-50%, -50%); /* Adjust to center it */
  border: 5px solid #157190;
  width: 520px;
  color: #ffff;
  padding-left: 20px;
  margin-left: 350px;
  margin-top: 40px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
  background-color: #157190;
  backdrop-filter: blur(50px); /* Apply blur to the background behind the text */
  z-index: 1; /* Ensure text appears above blurred background */
}


.background-image, h1 {
  font-size: 30px;
  color: rgb(9, 3, 1);
}

.About-section {
  max-width: 88%;
  margin: 50px auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.About-section h2 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #333333;
  text-align: center; /* Center align the heading */
}

.About-section p {
  font-size: 18px;
  line-height: 1.6;
  color: #555555; /* Slightly darker text color */
  text-align: justify; /* Justify text for better readability */
}

/* Add hover effect for better interactivity */
.About-section:hover {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Add a subtle border gradient effect */
.About-section::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #fa5a5f, #4b7bec); /* Gradient color */
  border-radius: 5px;
  margin-top: 20px;
}


h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
}


.mission-section {
  padding: 40px;
  background-color: #f9f9f9; /* Light background color */
  
}

.mission-content {
  max-width: 94%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  overflow: hidden; /* Hide overflow content */
  padding-top: 40px;
  padding-bottom: 20px;
  
}

.mission-flex-container {
  display: flex;
  align-items: center;
}

.mission-image {
  width: 40%;
  height: 300px;
  background-image: url('../../public/mission.jpg');
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: transform 0.3s ease; /* Add transition for hover effect */
}

.mission-image:hover {
  transform: scale(1.1); /* Scale up image on hover */
}

.mission-points {
  width: 60%;
  padding: 30px; /* Add padding for spacing */
  
}

.mission-points ul {
  list-style-type: none;
  padding: 0;
}

.mission-points ul li {
  margin-bottom: 20px; /* Increase spacing between points */
  font-size: 20px; /* Larger font size */
  line-height: 1.6; /* Adjust line height for better readability */
  color: #555555; /* Slightly darker text color */
  transition: color 0.3s ease; /* Add transition for color change */
}

.mission-points ul li:hover {
  color: #fa5a5f; /* Change text color on hover */
}

.mission-content::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #fa5a5f, #4b7bec); /* Gradient color */
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}



.team-section {
  padding: 40px 20px;
  text-align: center; /* Center align section content */
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align cards horizontally */
  gap: 20px; /* Add some space between cards */
}

.doctor-card {
  width: calc(30% - 40px); /* Adjusted width to include margins */
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Soft shadow */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition for transform and box-shadow */
}

.doctor-card:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Soft shadow */
}

.popup-content {
  background-color: #ffffff; /* White background */
  padding: 40px;
  /* padding-left: 40px;
  padding-right: 40px; */
  border-radius: 20px;
  width: 100%; /* Adjusted width */
  max-width: 900px; /* Maximum width */
  height: 70%; /* Adjusted height */
  max-height: 500px; /* Maximum height */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Soft shadow */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.close-btn {
  cursor: pointer;
  font-size: 40px;
  color: #333; /* Darkened close button color */
  display: flex;
  flex-direction: row-reverse;
}

.close-btn:hover {
  color: #fa5a5f; /* Highlighted close button color on hover */
}

.popup-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333; /* Dark font color */
}

.popup-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #666; /* Medium-dark font color */
}

.popup-content p:first-of-type {
  margin-top: 0;
}

.popup-content p:last-of-type {
  margin-bottom: 0;
}

.popup-content::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background-color: #ffffff; /* White background */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.popup-content::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  height: 36px;
  background-color: #f9f9f9; /* Lighter background color */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.popup-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-popup {
  width: 40%; /* Adjusted width for image */
  border-right: 2px solid black;
  padding-right: 40px;
}

.right-popup {
  width: 50%; /* Adjusted width for content */
  padding-left: 20px; /* Added padding for spacing */
}

.doctor-image {
  width: 100%; /* Make image fill its container */
  height: 300px; /* Maintain aspect ratio */
  border-radius: 10px; /* Rounded corners */
}

.health-section {
  margin-left: 20%;
  margin-right: 20%;
}

.health-head {
  font-weight: bolder;
  font-size: 40px;
  margin-top: 30px;
}

.health-text {
  font-weight: bold;
  margin-top: 30px;
}

.president {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  margin-bottom: 100px;
}

.president-image {
  width: 260px;
  height: 300px;
  border-radius: 20px;
}

.president-right {
  margin-top: 100px;
  margin-left: 10%;
}

.p-name {
  font-size: 30px;
  font-weight: bold;
  color: #0a1399;
}

.p-text1 {
  font-size: 20px;
  font-weight: bold;
  color: #464db1;
}

.p-text2 {
  font-weight: bold;
}


 
.m2 {
  display: flex;
  flex-direction: row;
}

.myFooter {
  background-color: #157190;
  padding: 20px;
  padding-left: 90px;
  padding-top: 30px;
  /* text-align: center; */
}

.m2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 70px;
  color: white;
}

.m2 > div {
  flex: 1;
  padding: 0 10px;
  min-width: 300px;
  /* background-color: red; */
}

.mh1 {
font-weight: bold;
font-size: 18px;
position: relative; /* Make the parent element relative */
margin-bottom: 20px;
}

.mh1::after {
content: "";
position: absolute;
bottom: -10px; /* Adjust as needed */
left: 0;
width: 60%;
height: 5px; /* Adjust height of the gradient */
background: linear-gradient(to right, #007bff, #ff00ff); /* Adjust colors as needed */
}



.mp1 {
  margin: 5px 0;
}

/* Optional: Add hover effect */
.mp1:hover {
  color: #007bff;
  cursor: pointer;
}

.m1 {
width: 500px;
color: white;
margin-right: 50px;
}

.myT {
font-size: 34px;
font-weight: bold;
color: white; /* Adjust color as needed */
margin-bottom: 20px;
}

.myI {
width: 70%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc; /* Add border for input */
border-radius: 5px; /* Add border radius for input */
box-sizing: border-box; /* Ensure padding and border are included in width */
}

.myB {
background-color: #3f51b5;
width: 70%;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
}

.myB:hover {
background-color: #0056b3; /* Darker shade of primary color on hover */
}

.myt2 {
font-weight: 600;
font-size: 24px;
}

.myp2 {
font-size: small;
}

.myCall {
display: flex;
justify-content: space-around;
/* padding: 20px; */
color: white;
font-size: 15px;
margin-top: 40px;
}

.myC1 p {
margin: 5px 5px;
}

.myC1 i {
color: orange; /* Set the color of the icon */
margin-right: 5px; /* Add some spacing between the icon and text */
}



